

/* builder4impress GUI styles */

.step:hover{
  background-color: rgba(255,250,100,0.5) !important;
}


/* buttons */
.builder-bt{
-webkit-box-shadow: 0px 0px 2px #636363;
   -moz-box-shadow: 0px 0px 2px #636363;
        box-shadow: 0px 0px 2px #636363;
        
background-color: #333;
border-radius: 3px;
padding: 5px;
margin: 5px;

text-align: center;
cursor: pointer;
}


/* control boxes */ 

.builder-main {
  padding:5px;
  background-color: #222;
  color: #fff;
  width: 120px;
  text-align: center;
  position: fixed;
  top:0;
  left:0;
}

.builder-main div,.builder-main a{
  display: block;
  cursor: pointer;
  padding-left: 23px;
  
}

.bt-overview{
  background: #333 url(over.png) no-repeat center left;
}
.bt-add{
  background: #333 url(add.png) no-repeat center left;
}
.bt-download{
  background: #333 url(get.png) no-repeat center left;
}

.builder-controls {
  padding:5px;
  background: #222;
  color: #fff;
  width: 50px;
  text-align: center;
  position: absolute;
}

.builder-controls textarea {
  width: 400px;
  height: 200px;
}

.builder-controls div {
  cursor:move;
  position:relative;
  height: 24px;
  margin: 3px;
}


.bt-move{
  background: transparent url(move.png) no-repeat center;
}

.bt-rotate{
  background: transparent url(rotate.png) no-repeat center;
}

.bt-scale{
  background: transparent url(scale.png) no-repeat center;
}


.builder-controls div:before {
  content:'drag';
  font-size: 9px;
  position: absolute;
  top:0;
  left:-8px;


  -webkit-transform: rotate(312deg);
     -moz-transform: rotate(312deg);
          transform: rotate(312deg);
}


.builder-controls span {
  display:block;
}

.builder-justcreated {
  background-color: rgba(224, 208, 33, 0.5);
  position:relative;
  opacity: 1;
  z-index: 999999999;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 100px #e0d021;
     -moz-box-shadow: 0px 0px 100px #e0d021;
          box-shadow: 0px 0px 100px #e0d021;
}

